<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel="stylesheet" href="webjars/bootstrap/4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<div id="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white">Survey Webapp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
<div class='login-box container'>
  <form name="f" th:action="@{/registration}" th:object="${userRegistrationDto}" method="post">
    <fieldset>
      <legend>Please Register</legend>
      <div th:if="${!errorMsg.isEmpty()}" th:text="${errorMsg}" class="alert alert-danger">
        Error
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" th:field="${userRegistrationDto.name}">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" th:field="${userRegistrationDto.password}">
      </div>
      <div class="mb-3">
        <label for="password-confirm" class="form-label">Confirm password</label>
        <input type="password" class="form-control" id="password-confirm" name="password-confirm" th:field="${userRegistrationDto.passwordConfirmation}">
      </div>
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary m-auto w-50">Register!</button>
      </div>
    </fieldset>
  </form>
</div>
<script src="webjars/jquery/3.6.0/dist/jquery.min.js"></script>
<script src="webjars/bootstrap/4.6.0/dist/js/bootstrap.bundle.js"></script>
</body>
</html>