<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div th:replace="fragments/header :: header" id="header">
            <h1>Survey Webapp</h1>
        </div>
        <div id="content">
            <div class="alert alert-secondary" role="alert">
                <h2>Hello, <span th:text="${homeModel.getName()}" />!</h2>
            </div>
            <div class="card row border-primary w-75 my-2 mx-auto">
                <div class="text-white bg-primary card-header">Surveys</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Author</th>
                                <th>#</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="survey : ${surveys}">
                                <td th:text="${survey.title}"></td>
                                <td th:text="${survey.description}"></td>
                                <td th:text="${survey.type}"></td>
                                <td th:text="${survey.authorName}"></td>
                                <td><a th:href="@{/survey(id=${survey.id})}" class="btn btn-secondary">Check</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>